.search-input {
  max-width: 80%;
}

#header {
  background: url(/assets/images/8.jpg) bottom/cover no-repeat;
  padding-top: 10px;
}

.header-height {
  height: 80vh;
}

.banner-content {
  background: rgba(201, 201, 201, 0.5);
  padding: 25px;
  min-width: 250px;
  min-height: 250px;
}
