.delete-image {
  text-decoration: none;
  display: inline-block;
  background: #f44336;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  width: 30px;
  height: 30px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
