$primary: #783255;
$secondary: #ddb9cb;
$success: #3bcf18;
$danger: #b50000;

$light: #f7f7f7;
$dark: #101111;
$info: #f6edf2;
$warning: #dbba00;

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
